name: Build Docker image

# Trigger definition
# example on all pushes
# on: [push]
# example on a specific push
# on:
#   push:
#     branches: [ main ]
#   pull_request:
#     branches: [ main ]
# example on schedule
# on:
#  schedule:
#    - cron: '*/5 * * * *'
on: [push]

# Environment variables definition
# Some specific variables exist
# ${{ github.repository }}
# ${{ github.actor }}
# ${{ secrets.GHCR_TOKEN }}
# And later these variables can be called
# ${{ env.IMAGE_NAME }}
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

# Jobs definition
jobs:
  build-and-push-image:
    # Runner image for processing
    runs-on: ubuntu-latest

    # Adjust permissions granted to the GITHUB_TOKEN
    permissions:
      contents: read
      packages: write

    # Steps for the job
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      # Installs QEMU static binaries.
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      # Creates and boots a builder that can be used in the following steps.
      # (Buildx or the build-push actions)
      # By default, the docker-container driver will be used to be able to
      # build multi-platform images and export cache using a BuildKit container.
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      # Logins against a Docker registry.
      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
      # Extract metadata from Git reference and GitHub events.
      # Used to tag and label Docker image
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          # image name format
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          # labels:
          # Specify static additional labels
          labels: |
            com.antrema.maintainer=antrema
          # tags: 
          # type=schedule
          # on schedule events
          # Default: tags: 'nightly'
          # type=ref
          # on branch/tag/pr events
          # Default: branch/tag/pr
          # type=semver
          # on push tag event
          # with valid semver: v(major).(minor).(patch)
          # Default: {{version}}
          # type=sha
          # on all events
          # Default: sha
          tags: |
            type=schedule,pattern={{date 'YYYYMMDD-HHmmss' tz='Europe/Paris'}}
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      # Builds and pushes Docker images
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BUILDTIME=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.created'] }}
            VERSION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
            REVISION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.revision'] }}
