name: Update Changelog & Release

# Trigger definition
# example on all pushes
# on: [push]
# example on a specific push
# on:
#   push:
#     branches: [ main ]
#   pull_request:
#     branches: [ main ]
# example on schedule
# on:
#  schedule:
#    - cron: '*/5 * * * *'
on:
  push:
    branches:
      - main
      - "[0-9]+.[0-9]+.x"
    tags:
      - "v?[0-9]+.[0-9]+.[0-9]+-alpha.[0-9]+"
      - "v?[0-9]+.[0-9]+.[0-9]+-beta.[0-9]+"
      - "v?[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+"

# Jobs definition
jobs:
  release-please:
    permissions:
      contents: write # for googleapis/release-please-action to create release commit
      pull-requests: write # for googleapis/release-please-action to create release PR
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release-please.outputs.releases_created }}
      tag_name: ${{ steps.release-please.outputs.tag_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      # Automate releases with Conventional Commit Messages.
      - name: Release Please
        id: release-please
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          token: ${{ secrets.GHCR_TOKEN }}
          release-type: simple

  goreleaser:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs:
      - release-please
    if: ${{ needs.release-please.outputs.releases_created == 'true' || startsWith(github.ref, 'refs/tags/') }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      # This action sets up a go environment for use in actions by:
      # * Optionally downloading and caching a version of Go by version and adding to PATH.
      # * Registering problem matchers for error output.
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.22.x"
      # GoReleaser Action runs goreleaser.
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: latest
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GHCR_TOKEN }}